<!-- Logo -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag 'ecosmarte.png', class: 'logo_eco' %>
  </div>
</div>
<!--  ------>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :register_as, class: "col-sm-3 control-label" %>
          <div class="col-sm-8">
            <%#= f.select :user_type, User.user_types.keys.map { |t| [t.humanize, t] }, {}, {class: "form-control"} %>
            <%= f.select :user_type, user_type_array, {}, {class: "form-control"} %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :name, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.text_field :name, class: "form-control", autofocus: true  %>
          </div>
        </div>
      </div>
      
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :email, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.email_field :email, class: "form-control", autofocus: true  %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :password, class: "col-sm-3 control-label"%>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :password_confirmation, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :phone, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.text_field :phone, class: "form-control", autofocus: true  %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :address, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.text_field :address, class: "form-control", autofocus: true  %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :city, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.text_field :city, class: "form-control", autofocus: true  %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-tutorial" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
