<!-- Logo -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag 'ecosmarte.png', class: 'logo_eco' %>
  </div>
</div>
<!--  ------>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for @water, html: {class: 'form-horizontal'} do |f| %>
    
      <div class="row">
        <div class="form-group group">
          <%= f.label :measurement_date, class: "col-sm-3 control-label" %>
          <div class="col-sm-8">
            <%= f.date_field :measurement_date, class: "form-control" %>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="form-group group">
          <%= f.label :temperature, class: "col-sm-3 control-label"%>
          <div class="col-sm-5">
            <%= f.text_field :temperature, class: "form-control", autofocus: true  %>
          </div>
          <div class="col-sm-3">
            <%= f.select :temperature_unit, options_for_select(Water.temperature_units.keys.map { |t| [t.humanize, t] }, @water.temperature_unit), {include_blank: "Choose"}, {class: "form-control"} %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :ph, "pH", class: "col-sm-3 control-label" %>
          <div class="col-sm-8">
            <%= f.text_field :ph, class: "form-control", autofocus: true %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label "Cu (ppm)", class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.text_field :cuppm, class: "form-control", autofocus: true %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :calcium, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.text_field :calcium, class: "form-control", autofocus: true %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :phosphate, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.text_field :phosphate, class: "form-control", autofocus: true %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :chlorine, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.text_field :chlorine, class: "form-control", autofocus: true %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group group">
          <%= f.label :oxygen, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.text_field :oxygen, class: "form-control", autofocus: true %>
          </div>
        </div>
      </div>
      
      <%= f.hidden_field :pool_id, value: 1 %>
      
      <div class="row">
        <div class="actions">
          <%= f.submit "Save", class: "btn btn-tutorial" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
