<h1>Water Measurements</h1>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>Pool Name</th>
            <th>Date</th>
            <th>Temperature</th>
            <th>pH</th>
            <th>Cu (ppm)</th>
            <th>Calcium</th>
            <th>Phosphate</th>
            <th>Chlorine</th>
            <th>Oxygen</th>
            <th>Actions</th>
          </tr>
          <% @waters.each do |water| %>
            <tr>
              <td><%= water.pool.name %></td>
              <td><%= water.measurement_date %></td>
              <td><%= water.temperature %>  <%= water.temperature_unit.humanize if water.temperature_unit.present?%></td>
              <% if (water.ph.present? && (water.ph > 7.2 || water.ph < 6.8)) %>
                <td class="warning_field"><%= water.ph %></td>
              <% else %>
                <td><%= water.ph %></td>
              <% end %>
              <% if (water.cuppm.present? && (water.cuppm > 0.7 || water.cuppm < 0.4)) %>
                <td class="warning_field"><%= water.cuppm %></td>
              <% else %>
                <td><%= water.cuppm %></td>
              <% end %>
              <% if (water.calcium.present? && (water.calcium < 400.0)) %>
                <td class="warning_field"><%= water.calcium %></td>
              <% else %>
                <td><%= water.calcium %></td>
              <% end %>
              <% if (water.phosphate.present? && (water.phosphate > 100)) %>
                <td class="warning_field"><%= water.phosphate %></td>
              <% else %>
                <td><%= water.phosphate %></td>
              <% end %>
              <td><%= water.chlorine %></td>
              <td><%= water.oxygen %></td>
              <td>
                <%= link_to edit_water_path(water), class:"btn btn-primary btn-circle" do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to water_path(water), class:"btn btn-danger btn-circle", method:"delete" do %>
                 <i class="fa fa-trash-o"></i>
               <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<button class="btn btn-default" id="close" name="button">Close</button>