<h1>Pools</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Pool Name</th>
          <th>Costumer Name</th>
          <th>Model</th>
          <th>Actions</th>
        </tr>
        <% @pools.each do |pool| %>
          <tr>
            <td><%= pool.name %></td>
            <td><%= pool.user.name %></td>
            <td><%= pool.pool_model.description if pool.pool_model.present? %></td>

            <td>
              <%= link_to new_water_measurement_path(pool_id: pool.id), class:"btn btn-measurement btn-circle" do %>
               Add Data
              <% end %>
              <%= link_to pool_water_measurements_path(pool_id: pool.id), class:"btn btn-measurement btn-circle open", remote: true do %>
               View Data
              <% end %>
            </td>

          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div id="measurements_view"></div>

<!-- <div class="">
  <%= link_to new_water_path do %>
    <button class="btn btn-tutorial" name="button">Add New Data</button>
  <% end %>
</div>
 -->

