<div class="row">
    
  <% if current_user.user_type == "admin" %>
  
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-4">
          <%= link_to users_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_4">
              <span class="dashboard_title">User Search</span>
            </div>
          <% end %>
        </div>
        
        <div class="col-sm-4">
          <%= link_to pools_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_2">
              <span class="dashboard_title">Pool Search</span>
            </div>
          <% end %>
        </div>
        
        <div class="col-sm-4">
          <%= link_to waters_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_3">
              <span class="dashboard_title">Water Measurements</span>
            </div>
          <% end %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-4">
          <%= link_to ecosmarte_university_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_1">
              <span class="dashboard_title">Ecosmarte University</span>
            </div>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to ecosmarte_university_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_5">
              <span class="dashboard_title">Videos</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
  <% else %>
  
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-4">
          <%= link_to user_profile_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_4">
              <span class="dashboard_title">My Profile</span>
            </div>
          <% end %>
        </div>
        
        <div class="col-sm-4">
          <%= link_to user_pools_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_2">
              <span class="dashboard_title">My Pools</span>
            </div>
          <% end %>
        </div>
        
        <div class="col-sm-4">
          <%= link_to user_water_measurements_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_3">
              <span class="dashboard_title">Water Measurements</span>
            </div>
          <% end %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-4">
          <%= link_to ecosmarte_university_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_1">
              <span class="dashboard_title">Ecosmarte University</span>
            </div>
          <% end %>
        </div>
        
        <div class="col-sm-4">
          <%= link_to ecosmarte_university_path, class: "dashboard_link" do %>
            <div class="dashboard_container" id="pool_5">
              <span class="dashboard_title">Videos</span>
            </div>
          <% end %>
        </div>
        
        
      </div>
    </div>
    
  <% end %>
    
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="help_paths">
      
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <%= link_to ecosmarte_wifi_path, class: "dashboard_bottom_link" do %>
            <div class="dashboard_bottom">
              <span class="dashboard_bottom_title">ECOsmarte WiFi</span>
            </div>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    If your application is commercial or located in Canada or Australia <%= link_to "Click Here", international_path %>
  </div>
</div>