<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="list-group">
      <%= link_to "Owners Manual", "/documents/Owners-Manual_2011.pdf", target: "_blank", class: "list-group-item list-group-item-action" %>
      <%= link_to "Programmable Pool Manual", "/documents/Programmable-Pool-Manual_2014.pdf", class: "list-group-item list-group-item-action" %>
      <%= link_to "Comprehensive Guide to Swimming Pool Ownership", "/documents/Comprehensive-Guide-to-Swimming-Pool-Ownership.compressed1.pdf", class: "list-group-item list-group-item-action" %>
      <%= link_to "Programming your Box", "/documents/Programmable-Control-Box-Manual-PDF_2015.pdf", class: "list-group-item list-group-item-action" %>
      <%= link_to "About Whole House Water", "/documents/About-Ecosmarte-Whole-House-Water.pdf", class: "list-group-item list-group-item-action" %>
      <%= link_to "Referral Program", "/documents/Referral-Program.pdf", class: "list-group-item list-group-item-action" %>
      <%= link_to "Upgrading Your System", "/documents/About-Upgrading-Your-Ecosmarte-System.compressed.pdf", class: "list-group-item list-group-item-action" %>
    </div>
  </div>
</div>








 