
<!-- Logo ---------->
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= image_tag "brand.png", class: "logo_cloud"%>
  </div>
</div>
<!--  -------------->

<% if flash[:success] %>
    <div id="flash_success" class="alert alert-success"><%= flash[:success] %></div>
<% elsif flash[:error] %>
    <div id="flash_error" class="alert alert-danger"><%= flash[:error] %></div>
<% end %>

<% if current_user %>
  <%= render "dashboard" %>
<% else %>
  <%= render "not_registered" %>
<% end %>
