<!-- Logo -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag 'ecosmarte.png', class: 'logo_eco' %>
  </div>
</div>
<!--  ------>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul class="list-group">
      <li class="list-group-item">If your application is commercial or located in Canada or Australia, 
        the government requires a 0.5 ppm free chlorine residual with the Ecosmarte copper ionization. 
        This level must not exceed 1.0 with Ecosmarte. 
        No cyanide (Conditioner, Stabilizer) is to be used with the Ecosmarte Pool System.</li>
      <li class="list-group-item">Contact us for the regulated pool manual if this pertains to your application.</li>
      <li class="list-group-item">All other residential pools are to avoid the use of Chlorine</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 col-sm-offset-1">
    <div class="address">
      <address>
        <h4>Address</h4><br><br>
        1600 E. 78th St<br>
        Minneapolis, MN 55423<br>
        612-866-1200
        <br><br>
        <h4>Contact Info</h4><br><br>
        <strong>Local Phone:</strong> 612-866-1200<br>
        <strong>Toll Free:</strong> 1-800-466-7946<br>
        <strong>Fax:</strong> 612-866-0152<br>
        <strong>Help:</strong> larryc@ecosmarte.com
      </address>
    </div>
  </div>
  
  <div class="col-sm-5">
    <div class="contact_form">
      
      
      <%= form_for @contact_mail, url: {action: :international_mail}, html: {class: 'form-horizontal'} do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.label :name, class: "col-sm-3 control-label"%>
              <div class="col-sm-8">
                <%= f.text_field :name, class: "form-control"  %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :email, class: "col-sm-3 control-label"%>
              <div class="col-sm-8">
                <%= f.email_field :email, class: "form-control"  %>
              </div>
            </div>
            
            <div class="form-group">
              <%= f.label :subject, class: "col-sm-3 control-label"%>
              <div class="col-sm-8">
                <%= f.text_field :subject, {class: "form-control", value: "International Help"}  %>
              </div>
            </div>
            
            <div class="form-group">
              <%= f.label :content, class: "col-sm-3 control-label"%>
              <div class="col-sm-8">
                <%= f.text_area :content, {class: "form-control message_box", rows: 6}  %>
              </div>
            </div>

            <%= f.submit "Send e-mail", class: "btn btn-tutorial" %>

          </div>
        </div>
      <% end %>
  
      
    </div>
  </div>
</div>