<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <%#= link_to tutorial_path(tutorial: "pool"), class: "pool_spa_help_container" do %>
    <%= link_to pool_tutorial_path, class: "pool_spa_help_container" do %>
      <%= image_tag "pool.jpg", class: "pool_spa_help_img" %>
      Pool Help
    <% end %>
  </div>
  <div class="col-sm-4">
    <%#= link_to tutorial_path(tutorial: "spa"), class: "pool_spa_help_container" do %>
    <%= link_to spa_tutorial_path, class: "pool_spa_help_container" do %>
      <%= image_tag "spa.jpg", class: "pool_spa_help_img" %>
      Spa Help
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%#= link_to tutorial_path(tutorial: "commercial"), class: "pool_spa_help_container" do %>
    <%= link_to commercial_tutorial_path, class: "pool_spa_help_container" do %>
      <%= image_tag "commercial.jpg", class: "pool_spa_help_img" %>
      Commercial Pool Help
    <% end %>
  </div>
</div>

