<!DOCTYPE html>
<html>
  <head>
    <title>Ecosmarte Cloud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'brand_2.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <!-- <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="158" role="navigation"> -->
    <nav class="navbar navbar-default navbar-fixed-top affix" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="">
              <%= image_tag "brand.png", class: "brand_logo" %>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <% if current_user %>
              <ul class="nav navbar-nav">
                <li class="<%= 'active' if current_page?(root_path) %>"><a href="">Documents</a></li>
                <li><a href="">Setup/FAQ</a></li>
                <li><a href="">Pool/Spa Help</a></li>
                <li><a href="">Videos</a></li>
                <li><a href="">Contact Us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to current_user.username, root_path %>
                </li>
              </ul>
            <% else %>
              <ul class="nav navbar-nav">
                <li class="<%= 'active' if current_page?(root_path) %>"><a href="">Documents</a></li>
                <li><a href="">Setup/FAQ</a></li>
                <li><a href="">Pool/Spa Help</a></li>
                <li><a href="">Videos</a></li>
                <li><a href="">Contact Us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to "Register",  root_path  %>
                </li>
                <li>
                  <%= link_to "Login",  root_path  %>
                </li>
              </ul>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
    </nav>
    
    <%= yield %>
    
  </body>
</html>
