<!DOCTYPE html>
<html>
  <head>
    <title>Ecosmarte Cloud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'brand_2.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <div id="wrap">
      <!-- <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="158" role="navigation"> -->
      <nav class="navbar navbar-default navbar-fixed-top affix" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag "brand.png", class: "brand_logo" %>
              <% end %>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <% if current_user %>
                <ul class="nav navbar-nav">
                  <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
                  <li class="<%= 'active' if (current_page?(pool_spa_help_path) || current_page?(pool_tutorial_path)  || current_page?(spa_tutorial_path)  || current_page?(commercial_tutorial_path)) %>">
                    <%= link_to 'Pool/Spa Help', pool_spa_help_path %>
                  </li>
                  <li class="<%= 'active' if current_page?(documents_path) %>"><%= link_to 'Documents', documents_path %></li>
                  <li class="<%= 'active' if current_page?(startup_faq_path) %>"><%= link_to 'Start up/FAQ', startup_faq_path %></li>
                  <li class="<%= 'active' if current_page?(contacts_path) %>"><%= link_to 'Contact Us', contacts_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <%= link_to root_path, {class: "dropdown-toggle", "data-toggle" => "dropdown", role: "button"} do %>
                      Hello, <%= current_user.name %> <span class="caret"></span>
                      <% end %>
                		<ul class="dropdown-menu">
                      <% if current_user.user_type == "admin" %>
                        <li><%= link_to "My Profile", user_path(current_user.id) %></li>
                      <% else %>
                        <li><%= link_to "My Profile", user_profile_path %></li>
                      <% end %>
                  		<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                  		<!--  It does not exist on non admins -->
                		</ul>
              		</li>
                </ul>
              <% else %>
                <ul class="nav navbar-nav">
                  <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
                  <li class="<%= 'active' if current_page?(startup_faq_path)  %>"><%= link_to 'Start up/FAQ', startup_faq_path %></li>
                  <li class="<%= 'active' if current_page?(contacts_path) %>"><%= link_to 'Contact Us', contacts_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <%= link_to "Register", new_user_registration_path  %>
                  </li>
                  <li>
                    <%= link_to "Login",  new_user_session_path  %>
                  </li>
                </ul>
              <% end %>
            </div><!--/.nav-collapse -->
          </div>
      </nav>
    
      <section id="content" class="container-fluid">
        <%= yield %>
      </section>
    </div>
    
    <footer>
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-3">
            <div class="social_icons">
              <div class="social_icon">
                <%= link_to "https://www.facebook.com/ECOsmarte/", target: "_blank" do %>
                  <%= image_tag "fb_icon.png" %>
                <% end %>
      			  </div>
              <div class="social_icon">
                <%= link_to "https://twitter.com/Ecosmarte2", target: "_blank" do %>
                  <%= image_tag "twitter_icon.png" %>
                <% end %>
      			  </div>
              <div class="social_icon">
                <%= link_to "https://www.linkedin.com/company-beta/3695970/", target: "_blank" do %>
                  <%= image_tag "linkedin_icon.png" %>
                <% end %>
      			  </div>
            </div>
          </div>
          
          <div class="col-sm-4">
            
          </div>
          
          <div class="col-sm-3">
            
          </div>
        </div>
        
        <div class="row">
          Copyright ECOsmarte Cloud. All Rights Reserved.  
        </div>
      </div>
    </footer>
    
  </body>
</html>
